:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

body {
    background: url(images/bg-intro-mobile.png);
    background-position: top center;
    background-color: var(--red);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #FFF;
}

@media (min-width: 800px) {
    div.container {
        display: flex;
        width: 85%;
        margin: 3em auto;
        font-size: 1em;
    }

}

.main.column {
    margin: 3em auto;
    text-align: center;
}

@media (min-width: 800px) {
    .main.column  {
        max-width: 40%;
        text-align: left;
        font-size: 1em;
     }
}

@media (min-width: 800px) {
    .form.column  {
        max-width: 60%;
        text-align: left;
        font-size: 1em;
    }
}

.main h1 {
    padding: 1em 1em 0 1em;
    font-weight: 500;
    margin-bottom: 0;
}

.main p {
    font-size: 1em;
    font-weight: 300;
    padding: 0 1em;
    margin-top: .5em;
}


@media (min-width: 800px) {
    .main h1 {
        font-size: 2em;
        line-height: 1.2;
        margin: 3em 1em auto 0;
        padding-left: 0;
        font-weight: 700;
    }

    .main p {
        font-size: 1em;
        font-weight: 400;
        margin-left: 0;
        padding: 1em 1em 0 0;
    }
}


.form.column {
    font-size: .9em;
}
@media (min-width: 800px) {
    .form.column {
        /* width: 100%; */
        font-size: 1.2em;
    }
}

.cta {
    background-color: var(--blue);
    border-radius: .5em;

    text-align: center;
    font-weight: 200;
    padding: 1em 2em;
    margin: 2em 1.5em;
    box-shadow: 0 14px 2px -6px rgba(56, 56, 56, 0.5);
}

.cta em {
    font-style: normal;
    font-weight: 500;
}


form {
    background: #fff;
    margin: 2em 3.5em;
    border-radius: .5em;
    padding: 1em 2em;
    margin: 2em 1.5em;
    box-shadow: 0 14px 0px -6px rgba(48, 48, 48, .3);

}



input[type=text], input[type=password],
input[type=submit], input[type=email] {
    font-family: 'Poppins';
    margin: 2.2em auto;
    display: block;
    padding: 1em;
    width: 80%;
    border-radius: .3em;
    border: 1px solid lightgray;
}

input[type=text], input[type=password],
  input[type=email] {
    font-weight: 500;
    color: #777;
}

input[type=text]:focus, input[type=password]:focus,
  input[type=email]:focus  {
    outline: 1px solid var(--grayish-blue);
}

input[type=submit] {
    text-transform: uppercase;
    background-color: var(--green);
    width: calc(80% + 30px);
    color: #fff;
    letter-spacing: .1em;
    margin-bottom: .5em;
    padding: 1.1em 1em;
    border-radius: .4em;
    font-size: .7em;
    font-weight: 500;
    box-shadow: inset 0 -4px 1px rgba(26, 103, 70, .5);
}

.form_footer {
    font-size: .7em;
    text-align: center;
    color: var(--grayish-blue);
    padding: 0 2em;
    line-height: 2;

}

.form_footer a {
    color: var(--red);
    font-weight: 700;
    text-decoration: none;

}


@media (min-width: 800px) {
    .form_footer {
        /* width: 100%; */
        margin: 1em 0;
    }
}


.invalid input {
    background-image: url(images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: top 50% right 5%;
}


div.error {
    display: none;
}

.invalid div.error {

    display: block;
}

.error {
    position: absolute;
    font-size: .6em;
    color: var(--red);
    bottom: -1.6em;
    right: 4em;
}

.field {
    position: relative;
}
