:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

body {

    background: url(images/bg-intro-mobile.png);
    background-position: top center;
    background-color: var(--red);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #FFF;
}

main {
    margin: 3em auto;
    text-align: center;
}

main h1 {
    padding: 1em 1em 0 1em;
    font-weight: 500;
    margin-bottom: 0;


}
main p {
    font-size: 1.2em;
    font-weight: 300;
    padding: 0 1em;
    margin-top: .5em;


}

.cta {
    background-color: var(--blue);
    border-radius: .3em;
    padding: 1em 5em;
    text-align: center;
    font-weight: 200;
    margin: 2em 3.5em;

}

.cta em {
    font-style: normal;
    font-weight: 500;
}


form {
    background: #fff;
    margin: 2em 3.5em;
    border-radius: .5em;
    padding: 1em;
}

input[type=text], input[type=password],
input[type=submit] {
    font-family: 'Poppins';
    margin: 1.2em auto;
    display: block;
    padding: 1.4em 1em;
    width: 260px;
    border-radius: .3em;
    border: 1px solid lightgray;


}

input[type=text], input[type=password] {
    font-weight: 600;
    color: #777;
}

input[type=submit] {

    text-transform: uppercase;
    width: 290px;
    background-color: var(--green);
    color: #fff;
    font-size: 1em;
    letter-spacing: .1em;
    margin-bottom: .5em;
    padding: 1em;

}

.form_footer {
    font-size: .7em;
    text-align: center;
    color: var(--grayish-blue);
    padding: 0 2em;
    line-height: 2;
}

.form_footer a {
    color: var(--red);
    font-weight: 700;
    text-decoration: none;

}
