:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

body {

    background: url(images/bg-intro-mobile.png);
    background-position: top center;
    background-color: var(--red);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #FFF;
}

@media (min-width: 800px) {
    div.container {
        display: flex;
        width: 90%;
        margin: 3em auto;
        font-size: .8em;
    }

}

.main.column {
    margin: 3em auto;
    text-align: center;
    margin-right: 0;

}

@media (min-width: 800px) {
    .main.column  {
        max-width: 40%;
        text-align: left;
     }
}

.main h1 {
    padding: 1em 1em 0 1em;
    font-weight: 500;
    margin-bottom: 0;
}

.main p {
    font-size: 1.2em;
    font-weight: 300;
    padding: 0 1em;
    margin-top: .5em;
}


@media (min-width: 800px) {
    .main h1 {
        font-size: 2rem;
        line-height: 1.2;
        margin: 2em 1em auto 0;
        padding-left: 0;
        margin-left: 0;
        font-weight: 700;
    }

    .main p {
        font-size: 1em;
        font-weight: 400;
        margin-left: 0;
        padding-left: 0;
    }
}

.cta {
    background-color: var(--blue);
    border-radius: .3em;
    padding: 1em 5em;
    text-align: center;
    font-weight: 200;
    margin: 2em 3.5em;
}

@media (min-width: 800px) {
    .cta {
        margin: 0 auto;
        width: 280px;
    }
}

.cta em {
    font-style: normal;
    font-weight: 500;
}


form {
    background: #fff;
    margin: 2em 3.5em;
    border-radius: .5em;
    padding: 1em;
}

@media (min-width: 800px) {
    form {

        width: 380px;
    }
}

input[type=text], input[type=password],
input[type=submit] {
    font-family: 'Poppins';
    font-size: 1em;
    margin: 1.2em auto;
    display: block;
    padding: 1em 1em;
    width: 80%;
    border-radius: .3em;
    border: 1px solid lightgray;

}

input[type=text], input[type=password] {
    font-weight: 500;
    color: #777;
}

input[type=text]:focus, input[type=password]:focus {
    outline: 1px solid var(--grayish-blue);
}

input[type=submit] {

    text-transform: uppercase;
    background-color: var(--green);
    width: calc(80% + 30px);
    color: #fff;
    letter-spacing: .1em;
    margin-bottom: .5em;
    padding: 1.1em 1em;
    border-radius: .4em;
    font-size: 1em;
    font-weight: 500;

}

.form_footer {
    font-size: .7em;
    text-align: center;
    color: var(--grayish-blue);
    padding: 0 4em;
    line-height: 2;
}

.form_footer a {
    color: var(--red);
    font-weight: 700;
    text-decoration: none;

}
